In [80]:
import pandas as pd
import numpy as np
from predictNew import CUSTOM_STOP, PruneForest, FitModel, Predict
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from scipy import spatial

In [92]:
data = PreprocessData()

In [93]:
total_df = data.transform('data/GLASSTEST.csv', 'data/profile.csv')

In [90]:
hot = pd.read_csv('data/HOTTEST.csv', index_col=0)

In [94]:
hot_transformed = data.transform('data/HOTTEST.csv', 'data/profile.csv')

In [99]:
culled_hot = hot_transformed.drop(index=0)

In [100]:
culled_hot

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,108,109,110,111,112,113,114,115,116,117
1,9,Data Scientist,"4.5 ★H10 Capital– Seattle, WA",Job Description\nOur Telecommunications client...,0.0,0.672738,0.368527,0.091480,0.000000,0.000000,...,0.0,0.000000,0.124794,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,3,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.704640,0.664594,0.103109,0.000000,0.000000,...,0.0,0.000000,0.070328,0.0,0.000000,0.084305,0.076731,0.0,0.0,0.0
3,10,Data Scientist,2.7 ★Rakuten– Seattle,We are looking for an experienced data scienti...,0.0,0.711159,0.586643,0.080902,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.165593,0.000000,0.240823,0.0,0.0,0.0
4,8,Data Scientist I,4.5 ★PagerDuty– Seattle,"At PagerDuty, we believe that people do their ...",0.0,0.731898,0.311889,0.000000,0.000000,0.099042,...,0.0,0.099042,0.066009,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
5,5,Associate Data Scientist,"4.1 ★ExtraHop Networks, Inc.– Seattle, WA, Uni...",The ExtraHop platform is a novel approach to p...,0.0,0.751816,0.297361,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.120706,0.000000,0.0,0.0,0.0
6,12,Data Engineer,"3.8 ★Amazon– Seattle, WA",Job Description\nDo you want to build a cuttin...,0.0,0.762969,0.826799,0.000000,0.072429,0.000000,...,0.0,0.000000,0.048272,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
7,2,Data Scientist,"3.1 ★EagleView Technologies– Bellevue, WA",We are looking for talented Data Scientists to...,0.0,0.763003,0.403908,0.100263,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
8,11,Siri - Data Scientist (Machine Learning & Natu...,"4.0 ★Apple– Seattle, Washington",Summary\nPlay a part in the ongoing revolution...,0.0,0.764624,0.480314,0.074518,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.110910,0.0,0.0,0.0
9,1,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.799164,0.632782,0.142797,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
10,4,Data Scientist,"3.6 ★TIBCO Software– Seattle, WA, US",Our Data Science team are central to our globa...,0.0,0.804138,0.588534,0.091308,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
11,6,"Scientist, Formulations, Viral Vector Process ...","4.0 ★Juno Therapeutics– Seattle, WA, United St...","Juno is seeking an enthusiastic, self-driven i...",0.0,0.804992,0.208833,0.129598,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
12,7,Machine Learning Scientist,"3.9 ★Versive– Seattle, WA","The Role:\n\nAt Versive, we want to cut throug...",0.0,0.813896,0.106369,0.066011,0.000000,0.000000,...,0.0,0.000000,0.090049,0.0,0.000000,0.107945,0.196496,0.0,0.0,0.0

In [102]:
total_df = total_df.append(culled_hot, ignore_index=True)

In [103]:
total_df

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,108,109,110,111,112,113,114,115,116,117
0,0,NaN,NaN,Data Scientist with an economics background fr...,10.0,0.000000,0.115762,0.025167,0.097176,0.055248,...,0.055248,0.055248,0.039200,0.055248,0.064636,0.048588,0.048588,0.064636,0.064636,0.064636
1,1,Data Scientist,"3.8 ★Amazon– Seattle, WA",Job Description\nThe Amazon Demand Forecasting...,0.0,0.678153,0.595757,0.099630,0.096174,0.000000,...,0.000000,0.000000,0.077593,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,Data Scientist,"3.6 ★Tableau Software– Seattle, Washington",**What youll be doing**The primary focus of th...,0.0,0.687317,0.640944,0.116119,0.000000,0.000000,...,0.000000,0.127457,0.090434,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,9,Data Scientist - Verticals,"4.2 ★Uber– Seattle, Washington, United States","At Uber, we ignite opportunity by setting the ...",0.0,0.691405,0.687401,0.166047,0.160288,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.696542,0.668987,0.090900,0.000000,0.000000,...,0.000000,0.000000,0.070793,0.000000,0.000000,0.087747,0.087747,0.000000,0.000000,0.000000
5,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0.0,0.721208,0.551987,0.046155,0.000000,0.000000,...,0.000000,0.000000,0.071892,0.000000,0.000000,0.000000,0.089108,0.000000,0.000000,0.000000
6,10,Associate Data Scientist,"4.1 ★ExtraHop Networks, Inc.– Seattle, WA, Uni...",The ExtraHop platform is a novel approach to p...,0.0,0.743645,0.309521,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.129913,0.000000,0.000000,0.000000,0.000000
7,6,Data Scientist,"3.1 ★EagleView Technologies– Bellevue, WA",We are looking for talented Data Scientists to...,0.0,0.768926,0.428613,0.093181,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,4,Data Scientist - Risk,"3.3 ★Postmates Inc.– Bellevue, WA",Postmates runs one of the largest marketplaces...,0.0,0.769945,0.422115,0.091769,0.000000,0.402917,...,0.201458,0.000000,0.000000,0.201458,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,3,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.800126,0.646717,0.127816,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,7,Data Scientist,"3.6 ★TIBCO Software– Seattle, WA, US",Our Data Science team are central to our globa...,0.0,0.800958,0.631710,0.085834,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,9,Data Scientist,"4.5 ★H10 Capital– Seattle, WA",Job Description\nOur Telecommunications client...,0.0,0.672738,0.368527,0.091480,0.000000,0.000000,...,0.000000,0.000000,0.124794,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,3,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.704640,0.664594,0.103109,0.000000,0.000000,...,0.000000,0.000000,0.070328,0.000000,0.000000,0.084305,0.076731,0.000000,0.000000,0.000000
13,10,Data Scientist,2.7 ★Rakuten– Seattle,We are looking for an experienced data scienti...,0.0,0.711159,0.586643,0.080902,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.165593,0.000000,0.240823,0.000000,0.000000,0.000000
14,8,Data Scientist I,4.5 ★PagerDuty– Seattle,"At PagerDuty, we believe that people do their ...",0.0,0.731898,0.311889,0.000000,0.000000,0.099042,...,0.000000,0.099042,0.066009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,5,Associate Data Scientist,"4.1 ★ExtraHop Networks, Inc.– Seattle, WA, Uni...",The ExtraHop platform is a novel approach to p...,0.0,0.751816,0.297361,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.120706,0.000000,0.000000,0.000000,0.000000
16,12,Data Engineer,"3.8 ★Amazon– Seattle, WA",Job Description\nDo you want to build a cuttin...,0.0,0.762969,0.826799,0.000000,0.072429,0.000000,...,0.000000,0.000000,0.048272,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,2,Data Scientist,"3.1 ★EagleView Technologies– Bellevue, WA",We are looking for talented Data Scientists to...,0.0,0.763003,0.403908,0.100263,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,11,Siri - Data Scientist (Machine Learning & Natu...,"4.0 ★Apple– Seattle, Washington",Summary\nPlay a part in the ongoing revolution...,0.0,0.764624,0.480314,0.074518,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110910,0.000000,0.000000,0.000000
19,1,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.799164,0.632782,0.142797,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,4,Data Scientist,"3.6 ★TIBCO Software– Seattle, WA, US",Our Data Science team are central to our globa...,0.0,0.804138,0.588534,0.091308,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,6,"Scientist, Formulations, Viral Vector Process ...","4.0 ★Juno Therapeutics– Seattle, WA, United St...","Juno is seeking an enthusiastic, self-driven i...",0.0,0.804992,0.208833,0.129598,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,7,Machine Learning Scientist,"3.9 ★Versive– Seattle, WA","The Role:\n\nAt Versive, we want to cut throug...",0.0,0.813896,0.106369,0.066011,0.000000,0.000000,...,0.000000,0.000000,0.090049,0.000000,0.000000,0.107945,0.196496,0.000000,0.000000,0.000000