In [10]:
import docx
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
doc = docx.Document('data/ethan_test_resume.docx')

In [7]:
def getText(doc):
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return '\n'.join(fullText)

In [9]:
text = getText(doc)

In [17]:
text_list = [text]

In [18]:
text_list[0]

'Ethan Doyle\n123 Broadway apt. 232, Seattle WA, 98122  •  (303)-517-9881  •  \n\nSummary\nData Scientist with an economics background from Colorado with experience in machine learning, data analysis, and regression analysis. Proven leader of small groups focused on efficiency and continuous improvement.\n\nSkills\nProgramming:\nPython\nPandas\nNumpy\nSklearn\nSciPy\nMatplotlib\nDatabase:\nSQL and NoSQL\nPostgreSQL and MongoDB\nAmazon Web Services\n\nEducation\nGalvanize | Seattle, WA | September - December 2018\nColorado State University | Fort Collins, CO | B.A. in Economics | August 2014 - May 2018\n\nExperience\n\nBlue Ridge Log Works, Fort Collins, CO\nMaster of Logwork, August 2016 – August 2018\nBuilt custom log furniture for a high-end reclaimed wood furniture company\nManaged people within my department in order to achieve efficiency without sacrificing quality\nContinuously improved processes to increase productivity\nAcquired new skills and techniques in order to increase the quality of the company’s products \n\nOrganizations\n\nLogging Sports Team at Colorado State University\nOfficer and President, August 2014 – May 2018\nCoordinated and structured schedules, competitions, volunteer work, fundraisers, product sales, and traveling.\nManaged a group 10-15 to facilitate large infrastructure projects, equipment safety, and proficiency in Lumberjack disciplines.\n\n\n'

In [11]:
vectorizer = TfidfVectorizer(stop_words='english')

In [19]:
vectorizer.fit(text_list)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [21]:
transformed_model = vectorizer.transform(text_list)

In [22]:
ethan_df = pd.DataFrame(transformed_model.toarray())

In [23]:
ethan_df.head()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,0.068199,0.068199,0.068199,0.136399,0.068199,0.272798,0.068199,0.068199,0.068199,0.068199,...,0.068199,0.068199,0.068199,0.136399,0.068199,0.136399,0.068199,0.068199,0.068199,0.068199