In [1]:
import pandas as pd
import numpy as np
from scipy import spatial

In [2]:
from predictNew import PreprocessData

/Users/ethandoyle/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [ ]:
dist_df

In [4]:
data = PreprocessData()

In [516]:
full_df = data.transform('data/GLASSTEST.csv', 'data/ETHANTEST.csv')

In [477]:
i = 0
j = 0
next_best_index = 0

In [478]:
yes_dist = pd.DataFrame({})
no_dist = pd.DataFrame({})
dist_df = pd.DataFrame({})

In [521]:
total_df = pd.DataFrame(full_df.iloc[:6, :])
total_df = total_df.set_index(np.arange(0, total_df.shape[0]))

In [480]:
remains_df = pd.DataFrame(sample_df[sample_df['labels'] == 0.0])

In [493]:
recommended_posting = pd.DataFrame(sample_df.iloc[next_best_index, :]).T

In [496]:
print(recommended_posting.iloc[0,3])

Our mission at Suplari is to shine the light on waste so that companies can invest in growth, innovation and their people. Suplari’s software leverages machine learning and AI technologies to deliver actionable insights from a company’s spend and procurement data and easily visualizes these tailored recommendations and data trends in a clean, user-friendly interface. Customers realize hard dollar cost savings and effectively manage supplier risk that is often hidden within millions of data points and takes hours of manpower and clunky spreadsheets to uncover.

Suplari is truly making an impact for clients such as Nordstrom, 21st Century Fox, and Sonos, (just to name a few) and we’re just getting started. We’re aiming to “share the wealth” by providing businesses with the tools to reduce spend, mitigate risk and increase compliance, and we need your help!

Job Description

Suplari is seeking a talented Senior Data Scientist to join us at our downtown Seattle HQ.

Do you like focusing on challenging problems and finding creative solutions? Would you like to help create something that makes a difference? Do you like to be part of a fast-growing company and be able to put your mark on something early?

The senior data scientist will design, build, and implement a cloud native, data pipeline including feature extraction, transformation, and data cleansing as well as machine learning algorithms to detect patterns and insights. The result of this data pipeline will be a structured data warehouse used to power the Suplari SaaS application. We are looking for passionate scientists that want to be part of a company that’s going to change the way enterprise businesses interact with their suppliers.

Qualifications

What you'll be doing:
While you don’t need to have experience in every technology we use, as a startup, we do expect you to be comfortable contributing anywhere throughout the stack. Here are some of the heavy-hitters that we rely on daily: R, Python, Javascript, Postgres, Go.
You will work with product management and customer success teams to understand requirements and customer value
Apply statistical analysis & modeling techniques to datasets large and small, advance existing initiatives and open opportunities to pursue new and previously unexplored research topics across a wide variety of industries and domains
Operate and extend the data science platform to deliver production-grade data curation and analysis services
Own end-to-end data workflows and develop deep domain expertise on the underlying actors and behaviors manifested through data
Visualize and explore data sets to enable the ideation and generation of new, predictive feature


What to bring:
Strong coding skills with data-frames are a prerequisite, example platforms include Pandas, R, Matlab, and Apache Spark.
Demonstrated experience highlighting innovation, creativity, and intuition, e.g the ability to laterally identify other sources of useful information and think 'outside the box'
Experience applying statistical methods (distribution analysis, classification, clustering, etc.)
Experience with creating & maintaining training datasets and constantly improving ML algorithms
Experience in any of the following toolkits: NLTK, Stanford-nlp, R, GraphLab
Experience with modern database technologies like Postgres, MongoDB, Dynamo
Experience working with large, semi-structured datasets like legal documents, application logs and product invoices
Rigor in automated testing, continuous integration, DevOps and other engineering best practices.
Agile enough to jump into a broad range of projects.

Education/Training:
MS or PhD in computer science, math or physics.
8 or more years of experience in data analysis or similar role required.

We’d love to hear from you if:
You love being part of a small, dynamic, and agile organization that encourages you to learn and grow
You love finding solutions to interesting problems
You welcome having autonomy with complex tasks
You are passionate about using your experience and expertise to inspire the team

Additional Information

Why Suplari?
Competitive compensation package
Ownership through equity and options
Cool work space with great views and bike storage.
Great coffee and awesome snacks
Early stage company experience
Comprehensive health and dental benefits

Location:
This position will be located in the Seattle area.
We are not interviewing remote employees at this time.

Suplari is an Equal Opportunity Employer!

In [497]:
sample_df

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
0,2,Data Scientist,"3.6 ★Tableau Software– Seattle, Washington",**What youll be doing**The primary focus of th...,1.0,0.861950,0.0,0.000000,0.000000,0.066963,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.036914,0.066963,0.000000,0.0
1,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.871546,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.026564,0.000000,0.000000,0.0
2,1,Data Scientist,"3.8 ★Amazon– Seattle, WA",Job Description\nThe Amazon Demand Forecasting...,0.0,0.899140,0.0,0.042778,0.042778,0.000000,...,0.0,0.042778,0.042778,0.042778,0.0,0.000000,0.047164,0.000000,0.000000,0.0
3,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0.0,0.902016,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.043292,0.000000,0.000000,0.043292,0.0
4,3,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.911966,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.084110,0.000000,0.000000,0.0

In [498]:
remains_df

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
1,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.871546,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.026564,0.0,0.000000,0.0
2,1,Data Scientist,"3.8 ★Amazon– Seattle, WA",Job Description\nThe Amazon Demand Forecasting...,0.0,0.899140,0.0,0.042778,0.042778,0.0,...,0.0,0.042778,0.042778,0.042778,0.0,0.000000,0.047164,0.0,0.000000,0.0
3,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0.0,0.902016,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.043292,0.000000,0.0,0.043292,0.0
4,3,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.911966,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.084110,0.0,0.000000,0.0

In [486]:
handle_yes()

In [499]:
handle_no()

In [500]:
yes_dist

          0
0       NaN
1  0.744379
2  0.779748
3  0.774839
4  0.774536

In [501]:
no_dist

          0
0       NaN
1       NaN
2  0.803968
3  0.766617
4  0.790635

In [504]:
update_dist()

In [505]:
dist_df

   indices   yes_sum    no_sum  total_dist
1      0.0  0.744379  0.000000         NaN
2      1.0  0.779748  0.803968    0.874921
3      5.0  0.774839  0.766617    0.910237
4      3.0  0.774536  0.790635    0.895867

In [509]:
index_min = int(dist_df['indices'][dist_df['total_dist'].idxmin()])

In [510]:
index_min

1

In [515]:
sample_df[sample_df['indices'] == index_min].index[0]

2

In [511]:
next_best_index = sample_df[sample_df['indices'] == index_min].index[0]

In [512]:
next_best_index

2

In [411]:
# def handle_yes():
#     global i
#     global yes_dist
#     global sample_df
#     global remains_df
#     global next_best_index
#     sample_df.iat[next_best_index, 4] = 1.0
#     remains_df = pd.DataFrame(sample_df[sample_df['labels'] == 0.0])
#     yes_dist[i] = np.zeros(sample_df.shape[0])
#     yes_dist[i].replace(0, np.nan, inplace=True)
#     yes_df = pd.DataFrame(sample_df[sample_df['labels'] == 1.0])
#     yes_df = yes_df.set_index(np.arange(0, yes_df.shape[0]))
#     for k in remains_df.index:
#         yes_dist.iat[k,i] = (spatial.distance.cosine(yes_df.iloc[i,6:], remains_df.iloc[remains_df.index == k,6:]))
#     i += 1

In [412]:
# def handle_no():
#     global j
#     global no_dist
#     global sample_df
#     global remains_df
#     global next_best_index
#     sample_df.iat[next_best_index, 4] = -1.0
#     remains_df = pd.DataFrame(sample_df[sample_df['labels'] == 0.0])
#     no_dist[j] = np.zeros(sample_df.shape[0])
#     no_dist.replace(0, np.nan, inplace=True)
#     no_df = pd.DataFrame(sample_df[sample_df['labels'] == -1.0])
#     no_df = no_df.set_index(np.arange(0, no_df.shape[0]))
#     for k in remains_df.index:
#         no_dist.iat[k,j] = (spatial.distance.cosine(no_df.iloc[j,6:], remains_df.iloc[remains_df.index == k,6:]))
#     j += 1

In [413]:
# def update_dist():
#     global dist_df
#     global next_best_index
#     dist_df['indices'] = remains_df['indices']
#     dist_df['yes_sum'] = np.sum(yes_dist, axis=1)
#     dist_df['no_sum'] = np.sum(no_dist, axis=1)
#     dist_df = dist_df.fillna(0)
#     dist_df['total_dist'] = remains_df['distances'] + dist_df['yes_sum'] - dist_df['no_sum']
#     index_min = dist_df['indices'][dist_df['total_dist'].idxmin()]
#     next_best_index = sample_df[sample_df['indices'] == index_min].index[0]

In [212]:
yes_dist[i] = np.zeros(sample_df.shape[0])
yes_dist.replace(0, np.nan, inplace=True)

In [267]:
no_dist[j] = np.zeros(sample_df.shape[0])
no_dist.replace(0, np.nan, inplace=True)

In [268]:
yes_df = pd.DataFrame(sample_df[sample_df['labels'] == 1.0])
yes_df = yes_df.set_index(np.arange(0, yes_df.shape[0]))

In [270]:
no_df = pd.DataFrame(sample_df[sample_df['labels'] == -1.0])
no_df = no_df.set_index(np.arange(0, no_df.shape[0]))

In [272]:
yes_dist

          0         1
0       NaN       NaN
1  0.744379       NaN
2  0.779748       NaN
3  0.774839  0.765186
4  0.774536  0.718016

In [275]:
no_dist

          0         1   2
0       NaN       NaN NaN
1       NaN       NaN NaN
2  0.803968       NaN NaN
3  0.766617  0.809049 NaN
4  0.790635       NaN NaN

In [221]:
for k in remains_df.index:
    yes_dist.iat[k,i] = (spatial.distance.cosine(yes_df.iloc[i,6:], remains_df.iloc[remains_df.index == k,6:]))

In [274]:
for k in remains_df.index:
    no_dist.iat[k,j] = (spatial.distance.cosine(no_df.iloc[j,6:], remains_df.iloc[remains_df.index == k,6:]))

In [563]:
dist_df = pd.DataFrame({})

In [564]:
dist_df['indices'] = remains_df['indices']
dist_df['yes_sum'] = np.sum(yes_dist, axis=1)
dist_df['no_sum'] = np.sum(no_dist, axis=1)

In [566]:
dist_df = dist_df.fillna(0)

In [567]:
dist_df['total_dist'] = remains_df['distances'] + dist_df['yes_sum'] - dist_df['no_sum']

In [568]:
dist_df

   indices   yes_sum  no_sum  total_dist
2        8  0.744379     0.0    1.615926
3        1  0.779748     0.0    1.678889
4        5  0.774839     0.0    1.676855
5        3  0.774536     0.0    1.686502

In [571]:
test = dist_df['indices'][dist_df['total_dist'].idxmin()]

In [574]:
total_df[total_df['indices'] == test]

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
2,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.871546,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.026564,0.0,0.0,0.0

In [686]:
total_df = pd.DataFrame(full_df.iloc[:6, :])
total_df = total_df.set_index(np.arange(0, total_df.shape[0]))
i = 0
j = 0
next_best_index = 1
yes_dist = pd.DataFrame({})
no_dist = pd.DataFrame({})
dist_df = pd.DataFrame({})
remains_df = pd.DataFrame(total_df[total_df['labels'] == 0.0])
recommended_posting = pd.DataFrame(total_df.iloc[next_best_index, :]).T

In [687]:
yes_dist

Empty DataFrame
Columns: []
Index: []

In [688]:
no_dist

Empty DataFrame
Columns: []
Index: []

In [689]:
total_df

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
0,0,NaN,NaN,Data Scientist with an economics background fr...,10.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.061251
1,2,Data Scientist,"3.6 ★Tableau Software– Seattle, Washington",**What youll be doing**The primary focus of th...,0.0,0.861950,0.0,0.000000,0.000000,0.066963,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.036914,0.066963,0.000000,0.000000
2,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.871546,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.026564,0.000000,0.000000,0.000000
3,1,Data Scientist,"3.8 ★Amazon– Seattle, WA",Job Description\nThe Amazon Demand Forecasting...,0.0,0.899140,0.0,0.042778,0.042778,0.000000,...,0.0,0.042778,0.042778,0.042778,0.0,0.000000,0.047164,0.000000,0.000000,0.000000
4,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0.0,0.902016,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.043292,0.000000,0.000000,0.043292,0.000000
5,3,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.911966,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.084110,0.000000,0.000000,0.000000

In [690]:
remains_df

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
1,2,Data Scientist,"3.6 ★Tableau Software– Seattle, Washington",**What youll be doing**The primary focus of th...,0.0,0.861950,0.0,0.000000,0.000000,0.066963,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.036914,0.066963,0.000000,0.0
2,8,Senior Data Scientist,"5.0 ★Suplari– Seattle, WA",Our mission at Suplari is to shine the light o...,0.0,0.871546,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.026564,0.000000,0.000000,0.0
3,1,Data Scientist,"3.8 ★Amazon– Seattle, WA",Job Description\nThe Amazon Demand Forecasting...,0.0,0.899140,0.0,0.042778,0.042778,0.000000,...,0.0,0.042778,0.042778,0.042778,0.0,0.000000,0.047164,0.000000,0.000000,0.0
4,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0.0,0.902016,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.043292,0.000000,0.000000,0.043292,0.0
5,3,"Data Scientist, Sr.","3.7 ★Seattle Children's Hospital– Seattle, WA",Join our Bioinformatics Delivery Team! Using t...,0.0,0.911966,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.084110,0.000000,0.000000,0.0

In [702]:
recommended_posting

,indices,titles,companies,jobs,labels,distances,0,1,2,3,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
4,5,Data Scientist I,"3.8 ★Expedia– Bellevue, Washington",Expedia\n\nWho we are\n\neCP Expedia eCommerce...,0,0.902016,0,0,0,0,...,0,0,0,0,0,0.0432917,0,0,0.0432917,0

In [703]:
recommended_posting.shape

(1, 1316)

In [699]:
handle_yes()

   indices   yes_sum    no_sum  total_dist
2      0.0  0.744379  0.000000         NaN
3      0.0  0.779748  0.803968         NaN
4      5.0  1.540025  0.766617    1.675423
5      3.0  1.492553  0.790635    1.613883 5

In [704]:
handle_no()

TypeError: cannot do label indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [nan] of <class 'float'>

In [643]:
def handle_yes():
    global i
    global yes_dist
    global total_df
    global remains_df
    global next_best_index
    global recommended_posting
    global job_title
    global job_company
    global job_desc
    total_df.iat[next_best_index, 4] = 1.0
    remains_df = pd.DataFrame(total_df[total_df['labels'] == 0.0])
    yes_dist[i] = np.zeros(total_df.shape[0])
    yes_dist[i].replace(0, np.nan, inplace=True)
    yes_df = pd.DataFrame(total_df[total_df['labels'] == 1.0])
    yes_df = yes_df.set_index(np.arange(0, yes_df.shape[0]))
    for k in remains_df.index:
        yes_dist.iat[k,i] = (spatial.distance.cosine(yes_df.iloc[i,6:], remains_df.iloc[remains_df.index == k,6:]))
    i += 1
    update_dist()
    print(dist_df, next_best_index)
    recommended_posting = pd.DataFrame(total_df.iloc[next_best_index, :]).T
    job_title = recommended_posting.iloc[0, 1]
    job_company = recommended_posting.iloc[0, 2]
    job_desc = recommended_posting.iloc[0, 3]

In [684]:
def handle_no():
    global j
    global no_dist
    global total_df
    global remains_df
    global next_best_index
    global recommended_posting
    global job_title
    global job_company
    global job_desc
    total_df.iat[next_best_index, 4] = -1.0
    remains_df = pd.DataFrame(total_df[total_df['labels'] == 0.0])
    no_dist[j] = np.zeros(total_df.shape[0])
    no_dist[j].replace(0, np.nan, inplace=True)
    no_df = pd.DataFrame(total_df[total_df['labels'] == -1.0])
    no_df = no_df.set_index(np.arange(0, no_df.shape[0]))
    for k in remains_df.index:
        no_dist.iat[k,j] = (spatial.distance.cosine(no_df.iloc[j,6:], remains_df.iloc[remains_df.index == k,6:]))
    j += 1
    update_dist()
    print(dist_df, next_best_index)
    recommended_posting = pd.DataFrame(total_df.iloc[next_best_index, :]).T
    job_title = recommended_posting.iloc[0, 1]
    job_company = recommended_posting.iloc[0, 2]
    job_desc = recommended_posting.iloc[0, 3]

In [685]:
def update_dist():
    global dist_df
    global next_best_index
    dist_df['indices'] = remains_df['indices']
    dist_df['yes_sum'] = np.sum(yes_dist, axis=1)
    dist_df['no_sum'] = np.sum(no_dist, axis=1)
    dist_df = dist_df.fillna(0)
    dist_df['total_dist'] = remains_df['distances'] + dist_df['yes_sum'] - dist_df['no_sum']
    index_min = dist_df['indices'][dist_df['total_dist'].idxmin()]
    next_best_index = total_df[total_df['indices'] == index_min].index[0]