In [5]:
import pandas as pd
import numpy as np

In [79]:
from predictNew import LinkedinScraper, ScrapeGlass
from predictNew import Predict, PreprocessData

In [74]:
carolyn = LinkedinScraper()

In [75]:
final_df = carolyn.transform('Carolyn Doyle')

In [81]:
data = PreprocessData()

In [1]:
# total_df = data.transform('../data/chris_training.csv', '../data/chris_profile.csv')

In [2]:
X = '../data/chris_training.csv'

In [3]:
y = '../data/chris_profile.csv'

In [7]:
df = pd.read_csv(X, index_col=0)
df = df.dropna()

In [8]:
df.shape

(754, 2)

In [15]:
df.head()

                                                jobs  labels
0  Job Description\n\nThe AWS Credential & Secret...     0.0
1  Job Description\nAWS Identity and Access Manag...     0.0
2  InVision is the digital product design platfor...     0.0
3  Job Description\nCome build the future of Linu...     0.0
4  Job Description\nDo you want to fundamentally ...     0.0

In [10]:
y_vector = pd.read_csv(y, index_col=0)

In [12]:
y_vector

                                             profile
0  At any level, in any company, my motivation is...

In [13]:
full_df = y_vector['profile'].append(df['jobs'])

In [14]:
full_df.shape

(755,)