In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy import spatial


Read in job descriptions from glassdoor and profile from linkedin. Removing missing values.

In [2]:
df = pd.read_csv('../data/dsjobs_training_culled.csv', index_col=0)
df = df.dropna()

In [3]:
profile_vector = pd.read_csv('../data/profile_vector.csv', index_col=0)


Creating a Full dataframe that includes the profile as the first observation.

In [4]:
full_df = profile_vector['profile'].append(df['jobs'])

Fitting TfidfVectorizer on the whole corpus and creating a dataframe with the results.

In [5]:
vectorizer = TfidfVectorizer(stop_words='english')
vectorizer.fit(full_df)
transformed_model = vectorizer.transform(full_df)
tfidf_df = pd.DataFrame(transformed_model.toarray())

In [7]:
profile = tfidf_df.iloc[0, :]

Calculating the Cosine distance between the linkedin profile and each job posting.

In [19]:
distances = []
for i in range(len(tfidf_df.index)):
    distances.append(spatial.distance.cosine(profile, tfidf_df.iloc[i,:]))

Sort distances by closest to furthest

In [20]:
sorted_distances = np.sort(distances)

In [24]:
sorted_distances[:6]

array([0.        , 0.80989248, 0.84734903, 0.8862868 , 0.89611812,
       0.89793871])

Argsort distances to get indices of a sorted list

In [21]:
indices = np.argsort(distances)

In [23]:
indices[:6]

array([  0,  14,  98, 113, 103,  89])

In [64]:
indices_df = pd.DataFrame({'indices': indices})

In [75]:
sorted_distances_df = pd.DataFrame({'distances': sorted_distances})

Sort the full dataframe by the sorted indices to get descriptions in order of most similar to least similar

In [25]:
sorted_df = pd.DataFrame({'jobs': full_df.iloc[indices]}).set_index(np.arange(0,120))

Create column 'Labels' of zeros to be filled in with either a True, or a False

In [27]:
sorted_df['labels'] = np.zeros(120)

Create test dataframe to experiment with user issued labels

In [46]:
sorted_tfidf = pd.DataFrame(tfidf_df.iloc[indices]).set_index(np.arange(0,120))

In [113]:
total_df = pd.concat([indices_df, sorted_df, sorted_distances_df, sorted_tfidf], axis=1)

In [114]:
total_df.iat[0,2] = 10.0

In [433]:
test_df = total_df.copy()

In [434]:
# test_df.iat[1,1] = 1.0

In [435]:
test_df.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
0,0,Data Scientist Greater Seattle Area Data Scien...,10.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.117186,0.0,0.0,0.0
1,14,Are you interested in working for one of the m...,0.0,0.809892,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,113,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.886287,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [436]:
class yes():
    def __init__(self, param=None):
        self.param = param
    
    def prompt_user(self, df, index):
        print(df.iloc[index,1])
        label = input("\nyes/no (quit)")
        if label == 'quit':
            return "Done"
        if label == 'yes':
            df.iat[index,2] = 1.0
        if label == 'no':
            df.iat[index,2] = -1.0
        return df
    
    def improve_yes(self, df):
        yes_df = pd.DataFrame(df[df['labels'] == 1.0])
        yes_remains = pd.DataFrame(df[df['labels'] == 0.0])
        yes_remains = yes_remains.set_index(np.arange(0, yes_remains.shape[0]))
        distances_from_yes = np.zeros((yes_remains.shape[0], yes_df.shape[0]))
        for i in range(yes_df.shape[0]):
            for j in range(yes_remains.shape[0]):
                distances_from_yes[j,i] = (spatial.distance.cosine(yes_df.iloc[0,4:], yes_remains.iloc[j,4:]))
        yes_remains['distances_from_yes'] = np.sum(distances_from_yes, axis=1)
        return yes_remains
    
    def improve_no(self, df):
        no_df = pd.DataFrame(df[df['labels'] == -1.0])
        no_remains = pd.DataFrame(df[df['labels'] == 0.0])
        no_remains = no_remains.set_index(np.arange(0, no_remains.shape[0]))
        distances_from_no = np.zeros((no_remains.shape[0], no_df.shape[0]))
        for i in range(no_df.shape[0]):
            for j in range(no_remains.shape[0]):
                distances_from_no[j,i] = (spatial.distance.cosine(no_df.iloc[0,4:], no_remains.iloc[j,4:]))
        no_remains['distances_from_no'] = np.sum(distances_from_no, axis=1)
        return no_remains
    
    def find_next_best(self, df, index):
        adjusted_df = self.prompt_user(df, index)
        yes_remains = self.improve_yes(adjusted_df)
        no_remains = self.improve_no(adjusted_df)
        total_distance = yes_remains.distances + yes_remains.distances_from_yes - no_remains.distances_from_no
        remains = yes_remains.copy()
        remains['total_distance'] = total_distance
        next_best_index = remains.total_distance.idxmin()
        remains.iloc[next_best_index, 1].split('\n')
        return self.find_next_best(remains, next_best_index)

In [437]:
test = yes()

In [438]:
changed_df = test.prompt_user(test_df, 1)

Are you interested in working for one of the most exciting products in Microsoft, passionate about exceeding customer expectations and advancing Microsoft's cloud first strategy? Are you interested in a start-up like environment, excited about cloud computing technology and driving growth in one of Microsoft's core businesses? If so, then look no further than the Azure Customer Experience (CXP) Team!

Microsoft Azure provides customers with an on-demand and infinitely scalable infrastructure and platform for customers to build, host, and scale service applications on the Internet through Microsoft’s global data centers. As part of the Azure Engineering organization, Azure CXP is a rapidly growing team committed to driving Azure growth through our relentless pursuit of satisfied Azure customers, by leading world-class customer reliability engagements, engineering modern customer-first experiences for scale, and by driving deep customer insights and empathy into the broader Azure Engineering organization.

We are looking for a strong Data Scientist with a proven track record of solving large, complex data analysis and machine learning problems in a real-world customer focused setting. The ideal candidate should be able to identify a business or engineering problem, translate it to a data science project, determine sources of data, conduct the analysis that will reveal actionable insights, and develop/operationalize models that enable new capabilities and scenarios for our customers and partner teams.

Responsibilities

Core Skills:
Work with management and stakeholders, identify opportunities for data science to make an impact, and formulate these opportunities to data science projects.
Identifies data sources, integrates multiple sources or types of data, and applies expertise within a data source to develop methods to compensate for limitations and extend the applicability of the data
Applies (and develops if necessary) tools and pipelines to efficiently collect, clean, and prepare massive volumes of data for analysis
Transforms formulated problems into implementation plans for experiments by applying (and creating when necessary) the appropriate data science methods, algorithms, and tools, and then statistically validating the results against biases and errors
Interprets results and develops insights into formulated problems within the business/customer context and provides guidance on risks and limitations
Acquires and uses broad knowledge of innovative methods, algorithms, and tools from within Microsoft and from the larger scientific community, and applies his or her own analysis of scalability and applicability to the formulated problem
Validates, monitors, and drives continuous improvement to methods, and proposes enhancements to data sources that improve usability and results
Qualifications

Requirements:

· B.S. and/or M.S. (Ph.D. Preferred) in Computer Science, Statistics, Operations Research or similar quantitative field

· Solid foundation of machine learning algorithms (classification, regression, clustering, time series forecasting, recommender system, text analytics). Experience with deep learning is a plus.

· Working experience in applying machine learning to one or more of the following fields (forecasting, text analytics, customer CRM, transactional analytics, etc).

· Deep understanding of big data systems, including Spark, Hadoop, Azure Data Lake, Cosmos, Azure SQL, etc.

· Expert in one or more machine learning platforms, such as R, Python, Azure ML

· Expert in one or more scripting languages, such as R, Python, SQL, C++, etc

· Experience building data pipelines to operationalize end-to-end solutions

· 2+ years of applying statistical modeling and machine learning algorithms to real world problems

Ability to meet Microsoft, customer and/or government security screening requirements are required for this role. These requirements include, but are not limited to the following specialized security screenings:

Microsoft Cloud Background Check: This position will be required to pass the Microsoft Cloud background check upon hire/transfer and every two years thereafter.

Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, color, family or medical care leave, gender identity or expression, genetic information, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran status, race, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable laws, regulations and ordinances. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. If you need assistance and/or a reasonable accommodation due to a disability during the application or the recruiting process, please send a request via the Accommodation request form.

Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.

yes/no (quit) yes

In [439]:
changed_df.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
0,0,Data Scientist Greater Seattle Area Data Scien...,10.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.117186,0.0,0.0,0.0
1,14,Are you interested in working for one of the m...,1.0,0.809892,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,113,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.886287,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [440]:
posi = test.improve_yes(changed_df)

In [441]:
posi.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4685,4686,4687,4688,4689,4690,4691,4692,4693,distances_from_yes
0,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.593506
1,113,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.886287,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.848914
2,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.796519
3,89,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.897939,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.819353
4,25,Blue Nile was created in 1999 by a man in love...,0.0,0.900881,0.037139,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.884882

In [442]:
negi = test.improve_no(changed_df)

In [443]:
negi.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4685,4686,4687,4688,4689,4690,4691,4692,4693,distances_from_no
0,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,113,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.886287,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,89,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.897939,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,25,Blue Nile was created in 1999 by a man in love...,0.0,0.900881,0.037139,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [444]:
total_distance = posi.distances + posi.distances_from_yes - negi.distances_from_no

In [445]:
alter = posi.copy()

In [446]:
alter['total_distance'] = total_distance

In [ ]:
next_index =

In [ ]:
remains = yes_remains.copy()
remains['total_distance'] = total_distance
next_best_index = remains.total_distance.idxmin()
remains.iloc[next_best_index, 1].split('\n')
return self.find_next_best(remains, next_best_index)

In [355]:
test.find_next_best(test_df, 1)

Are you interested in working for one of the most exciting products in Microsoft, passionate about exceeding customer expectations and advancing Microsoft's cloud first strategy? Are you interested in a start-up like environment, excited about cloud computing technology and driving growth in one of Microsoft's core businesses? If so, then look no further than the Azure Customer Experience (CXP) Team!

Microsoft Azure provides customers with an on-demand and infinitely scalable infrastructure and platform for customers to build, host, and scale service applications on the Internet through Microsoft’s global data centers. As part of the Azure Engineering organization, Azure CXP is a rapidly growing team committed to driving Azure growth through our relentless pursuit of satisfied Azure customers, by leading world-class customer reliability engagements, engineering modern customer-first experiences for scale, and by driving deep customer insights and empathy into the broader Azure Engineering organization.

We are looking for a strong Data Scientist with a proven track record of solving large, complex data analysis and machine learning problems in a real-world customer focused setting. The ideal candidate should be able to identify a business or engineering problem, translate it to a data science project, determine sources of data, conduct the analysis that will reveal actionable insights, and develop/operationalize models that enable new capabilities and scenarios for our customers and partner teams.

Responsibilities

Core Skills:
Work with management and stakeholders, identify opportunities for data science to make an impact, and formulate these opportunities to data science projects.
Identifies data sources, integrates multiple sources or types of data, and applies expertise within a data source to develop methods to compensate for limitations and extend the applicability of the data
Applies (and develops if necessary) tools and pipelines to efficiently collect, clean, and prepare massive volumes of data for analysis
Transforms formulated problems into implementation plans for experiments by applying (and creating when necessary) the appropriate data science methods, algorithms, and tools, and then statistically validating the results against biases and errors
Interprets results and develops insights into formulated problems within the business/customer context and provides guidance on risks and limitations
Acquires and uses broad knowledge of innovative methods, algorithms, and tools from within Microsoft and from the larger scientific community, and applies his or her own analysis of scalability and applicability to the formulated problem
Validates, monitors, and drives continuous improvement to methods, and proposes enhancements to data sources that improve usability and results
Qualifications

Requirements:

· B.S. and/or M.S. (Ph.D. Preferred) in Computer Science, Statistics, Operations Research or similar quantitative field

· Solid foundation of machine learning algorithms (classification, regression, clustering, time series forecasting, recommender system, text analytics). Experience with deep learning is a plus.

· Working experience in applying machine learning to one or more of the following fields (forecasting, text analytics, customer CRM, transactional analytics, etc).

· Deep understanding of big data systems, including Spark, Hadoop, Azure Data Lake, Cosmos, Azure SQL, etc.

· Expert in one or more machine learning platforms, such as R, Python, Azure ML

· Expert in one or more scripting languages, such as R, Python, SQL, C++, etc

· Experience building data pipelines to operationalize end-to-end solutions

· 2+ years of applying statistical modeling and machine learning algorithms to real world problems

Ability to meet Microsoft, customer and/or government security screening requirements are required for this role. These requirements include, but are not limited to the following specialized security screenings:

Microsoft Cloud Background Check: This position will be required to pass the Microsoft Cloud background check upon hire/transfer and every two years thereafter.

Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, color, family or medical care leave, gender identity or expression, genetic information, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran status, race, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable laws, regulations and ordinances. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. If you need assistance and/or a reasonable accommodation due to a disability during the application or the recruiting process, please send a request via the Accommodation request form.

Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.

yes/no (quit) yes

The Microsoft Cloud+AI Design team is looking for a Senior Data Scientist to join our Experience Analytics team ? we work hard, have fun, and value collaboration and individuality in each other. As a team, we?re passionate about maximizing the impact of Data Science work on Design and Product decisions, and we are leading discussions in this area within Microsoft and beyond.

Join us if you want to impact how millions of users use the cloud and all the services it enables. Our customers range from people with highly technical skills to information workers working with cloud enabled devices and services. Our product portfolio includes Dynamics, Azure, Power BI, PowerApps, Flow, and more.

The mission of the Experience Analytics team is to leverage product telemetry to unpack the nuance behind our customers? end-to-end journeys and drive design decisions. As a Data Scientist on the Experience Analytics team, you?ll answer key questions about users, their in-product workflow, and the quality of the user experience for your product. You will partner with Design Researchers to build a deep understanding of users, competition and market, and conduct analyses in a fast-paced, agile environment. You?ll have experience conducting a variety of analyses in different situations, from exploratory analyses to generate hypotheses, to building statistical models that quantify the impact of particular design changes. You?ll inspire change at all stages of product development by delivering exciting oral, written and visual presentations about your findings. Your primary job as an advocate for our users is to help the product team understand what would make a user?s experiences natural, useful and delightful.
*Responsibilities**
*Responsibilities**
+ Work closely with product teams to identify research questions, and partner with Engineering to ensure that the right data is being collected to answer those questions

+ Conduct analyses that can help product teams explain the context behind their business metrics results, through a detailed breakdown of the behaviors and characteristics that users exhibit while using the product

+ Set the standard for data and analysis excellence across multiple product areas; serve as a mentor for other Data Scientists working on these products to maximize the team?s impact

+ Communicate your findings in a clear, concise, and visual (when appropriate) manner to our key stakeholders on the product and design teams, and drive meaningful action based on those findings

+ Proactively engage in a culture of peer review, both as a reviewer and a reviewee. We pride ourselves on a data-driven culture, and as such, value transparency, cross-sharing, and respectful critiques to put forward our best analysis for each and every research question

+ Work cross-functionally with Design Researchers, Visual / Interaction / Content Designers, Program Managers and Software Engineers in a fast-moving Agile environment
*Qualifications for the role**
+ A Master?s Degree or PhD in Data Science, Cognitive Science, Information Science, Human-Computer Interaction, Statistics, or a similar relevant field. We know that there are many paths that may have led you to the intersection of Design and Data Science, so we are flexible on the specific area of study so long as there is a strong educational foundation to your career

+ A strong background in statistics and machine learning ? you should be self-directed when it comes to choosing an analysis approach given a research question and a dataset

+ Excellent working knowledge of experiment design (A/B tests)

+ Experience with a statistical programming language / package like R (preferred) or Python

+ A strong interest (bordering on obsession) with Design and User Experience. A key part of this role will be partnering with Design Researchers, so you should have a deep understanding and appreciation of the value they bring to the table, and an excitement to partner with them to tell more complete stories rooted in data

+ 5+ years of work experience in an applied research or data science setting

+ Excellent interpersonal, communication, negotiation and collaboration skills
*Qualifications**
Ability to meet Microsoft, customer and/or government security screening requirements are required for this role. These requirements include, but are not limited to the following specialized security screenings: Microsoft Cloud Background Check: This position will be required to pass the Microsoft Cloud Background Check upon hire/transfer and every two years thereafter.

Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, color, family or medical care leave, gender identity or expression, genetic information, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran status, race, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable laws, regulations and ordinances.

Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.

yes/no (quit) no

Minimum of 5 years of working experience.
Experience in a technical/international organization is an advantage.
You are fluent in both written and spoken English.
You have knowledge of SQL Server databases and SQL.
You master programming in R or Python.
You have broad experience in applied statistics.
Knowledge of C# is an advantage.
Knowledge of Microsoft Azure is an advantage (Azure Machine Learning, Stream Analytics, Azure functions)
You have experience with reporting tools like PowerBI.
IoT knowledge is an advantage.
Experis is an Equal Opportunity Employer (EOE/AA) - provided by Dice

machine learning,Azure,Python,R,Iot,C#,data science

yes/no (quit) quit

TypeError: string indices must be integers

In [324]:
no_df = no_adjusted_df[no_adjusted_df['labels'] == -1.0]
no_remains = pd.DataFrame(no_adjusted_df[no_adjusted_df['labels'] == 0.0])
no_remains = no_remains.set_index(np.arange(0, no_remains.shape[0]))

In [343]:
# no_df.head()

In [344]:
# no_remains.head(2)

In [327]:
distances_from_no = []
for j in range(no_remains.shape[0]):
    distances_from_no.append(spatial.distance.cosine(no_df.iloc[0,4:], no_remains.iloc[j,4:]))

In [328]:
no_remains['distances_from_no'] = distances_from_no

In [329]:
yes_df = yes_adjusted_df[yes_adjusted_df['labels'] == 1.0]
yes_remains = pd.DataFrame(yes_adjusted_df[yes_adjusted_df['labels'] == 0.0])
yes_remains = yes_remains.set_index(np.arange(0, yes_remains.shape[0]))

In [330]:
distances_from_yes = []
for j in range(yes_remains.shape[0]):
    distances_from_yes.append(spatial.distance.cosine(yes_df.iloc[0,4:], yes_remains.iloc[j,4:]))

In [331]:
yes_remains['distances_from_yes'] = distances_from_yes

In [332]:
yes_remains.shape

(117, 4699)

In [333]:
no_remains.shape

(117, 4699)

In [334]:
yes_remains.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4685,4686,4687,4688,4689,4690,4691,4692,4693,distances_from_yes
0,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.593506
1,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.796519
2,89,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.897939,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.819353
3,25,Blue Nile was created in 1999 by a man in love...,0.0,0.900881,0.037139,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.884882
4,116,Back to search results\n\nSearch by Job Title ...,0.0,0.901781,0.016726,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888248

In [335]:
no_remains.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4685,4686,4687,4688,4689,4690,4691,4692,4693,distances_from_no
0,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.833532
1,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.805844
2,89,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.897939,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.208425
3,25,Blue Nile was created in 1999 by a man in love...,0.0,0.900881,0.037139,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.854529
4,116,Back to search results\n\nSearch by Job Title ...,0.0,0.901781,0.016726,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888094

In [336]:
total_distance = yes_remains.distances + yes_remains.distances_from_yes - no_remains.distances_from_no

In [337]:
remains = yes_remains.copy()

In [339]:
remains['total_distance'] = total_distance

In [342]:
remains.head()

,indices,jobs,labels,distances,0,1,2,3,4,5,...,4686,4687,4688,4689,4690,4691,4692,4693,distances_from_yes,total_distance
0,98,The Microsoft Cloud+AI Design team is looking ...,0.0,0.847349,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.593506,0.607323
1,103,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.896118,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.796519,0.886793
2,89,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.897939,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.819353,1.508867
3,25,Blue Nile was created in 1999 by a man in love...,0.0,0.900881,0.037139,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.884882,0.931233
4,116,Back to search results\n\nSearch by Job Title ...,0.0,0.901781,0.016726,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888248,0.901934

In [321]:
yes_adjusted_df = test.prompt_user(test_df, 1)

Are you interested in working for one of the most exciting products in Microsoft, passionate about exceeding customer expectations and advancing Microsoft's cloud first strategy? Are you interested in a start-up like environment, excited about cloud computing technology and driving growth in one of Microsoft's core businesses? If so, then look no further than the Azure Customer Experience (CXP) Team!

Microsoft Azure provides customers with an on-demand and infinitely scalable infrastructure and platform for customers to build, host, and scale service applications on the Internet through Microsoft’s global data centers. As part of the Azure Engineering organization, Azure CXP is a rapidly growing team committed to driving Azure growth through our relentless pursuit of satisfied Azure customers, by leading world-class customer reliability engagements, engineering modern customer-first experiences for scale, and by driving deep customer insights and empathy into the broader Azure Engineering organization.

We are looking for a strong Data Scientist with a proven track record of solving large, complex data analysis and machine learning problems in a real-world customer focused setting. The ideal candidate should be able to identify a business or engineering problem, translate it to a data science project, determine sources of data, conduct the analysis that will reveal actionable insights, and develop/operationalize models that enable new capabilities and scenarios for our customers and partner teams.

Responsibilities

Core Skills:
Work with management and stakeholders, identify opportunities for data science to make an impact, and formulate these opportunities to data science projects.
Identifies data sources, integrates multiple sources or types of data, and applies expertise within a data source to develop methods to compensate for limitations and extend the applicability of the data
Applies (and develops if necessary) tools and pipelines to efficiently collect, clean, and prepare massive volumes of data for analysis
Transforms formulated problems into implementation plans for experiments by applying (and creating when necessary) the appropriate data science methods, algorithms, and tools, and then statistically validating the results against biases and errors
Interprets results and develops insights into formulated problems within the business/customer context and provides guidance on risks and limitations
Acquires and uses broad knowledge of innovative methods, algorithms, and tools from within Microsoft and from the larger scientific community, and applies his or her own analysis of scalability and applicability to the formulated problem
Validates, monitors, and drives continuous improvement to methods, and proposes enhancements to data sources that improve usability and results
Qualifications

Requirements:

· B.S. and/or M.S. (Ph.D. Preferred) in Computer Science, Statistics, Operations Research or similar quantitative field

· Solid foundation of machine learning algorithms (classification, regression, clustering, time series forecasting, recommender system, text analytics). Experience with deep learning is a plus.

· Working experience in applying machine learning to one or more of the following fields (forecasting, text analytics, customer CRM, transactional analytics, etc).

· Deep understanding of big data systems, including Spark, Hadoop, Azure Data Lake, Cosmos, Azure SQL, etc.

· Expert in one or more machine learning platforms, such as R, Python, Azure ML

· Expert in one or more scripting languages, such as R, Python, SQL, C++, etc

· Experience building data pipelines to operationalize end-to-end solutions

· 2+ years of applying statistical modeling and machine learning algorithms to real world problems

Ability to meet Microsoft, customer and/or government security screening requirements are required for this role. These requirements include, but are not limited to the following specialized security screenings:

Microsoft Cloud Background Check: This position will be required to pass the Microsoft Cloud background check upon hire/transfer and every two years thereafter.

Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, color, family or medical care leave, gender identity or expression, genetic information, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran status, race, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable laws, regulations and ordinances. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. If you need assistance and/or a reasonable accommodation due to a disability during the application or the recruiting process, please send a request via the Accommodation request form.

Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.

yes/no (quit) yes

In [322]:
no_adjusted_df = test.prompt_user(test_df, 3)

Lead Data Scientist

Seattle, WA

Job Description

We are looking for a Lead Data Scientist to help research and discover new technology to help us deliver even greater levels of value to our customers. The ideal candidate will bring analytical rigor, deep understanding of statistical methods, and experience with machine learning to help our R&D team continue to succeed.

Responsibilities

• Pull large batches of data from multiple SQL data sources to drive your analysis

• Work with and understand Python to research and perform analysis

• Research and deliver machine learning solutions to solve large data problems

• Work with a team of Software Engineers to deliver maintainable solutions

• Clearly document your delivered research and analysis

• Teach others and learn new techniques for applying statistical analysis and machine learning

• Effectively communicate with business stake holders and your team members when answering questions, participating in discussions, or otherwise helping out

Qualifications

• Minimum of 3 years of relevant work experience as a Data Scientist or Statistician

• MS or PhD in an applied statistics field

• Demonstrated knowledge and experience with machine learning

• Demonstrated knowledge and experience with Python

• Plus: Experienced with large data sets from millions to billions of rows

• Plus: Experienced with Spark Java or PySpark

yes/no (quit) no

In [163]:
# remains = test.improve_yes(adjusted_df)

In [198]:
yes_df = adjusted_df[adjusted_df['labels'] == 1.0]
remains = pd.DataFrame(adjusted_df[adjusted_df['labels'] == 0.0]).set_index(np.arange(0,remains.shape[0]))

In [202]:
test_distances = []
for j in range(remains.shape[0]):
    test_distances.append(spatial.distance.cosine(yes_df.iloc[0,4:], remains.iloc[j,4:]))

In [203]:
remains['distances_from_yes'] = test_distances

In [205]:
remains['summed_distances'] = remains.distances + remains.distances_from_yes

In [250]:
#remains.iloc[remains.summed_distances.idxmin(),1].split('\n')