In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
df = pd.read_csv('../data/dsjobs_training_culled.csv', index_col=0)

In [20]:
df = df.dropna()

In [21]:
df.shape

(119, 1)

In [49]:
profile_vector = pd.read_csv('../data/profile_vector.csv', index_col=0)

In [50]:
profile_vector.head()

                                             profile
0  Data Scientist Greater Seattle Area Data Scien...

In [52]:
profile_vector.shape

(1, 1)

In [83]:
full_df = profile_vector['profile'].append(df['jobs'])

In [85]:
full_df.shape

(120,)

In [97]:
full_df.iloc[0]

'Data Scientist Greater Seattle Area Data Scientist with an economics background from Colorado with experience in machine learning, data analysis, and regression analysis. Proven leader of small groups focused on efficiency and continuous improvement. student galvanize inc sep 2018 – present 3 mos greater seattle area logwork master blue ridge log works aug 2016 – aug 2018 2 yrs 1 mo united states • built custom log furniture for a high-end reclaimed wood furniture company. • managed people within my department in order to achieve efficiency without sacrificing quality. • continuously improved processes to increase productivity. • acquired new skills and techniques in order to increase the quality of the company’s econometrics regression analysis microsoft office industry knowledge data analysis tools & technologies microsoft powerpoint microsoft excel python (programming language) pandas (software) sql postgresql mongodb amazon web services (aws) selenium public speaking numpy scikit-learn scipy matplotlib apache spark flask '

In [87]:
vectorizer = TfidfVectorizer(stop_words='english')

In [88]:
vectorizer.fit(full_df)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [89]:
transformed_model = vectorizer.transform(full_df)

In [90]:
tfidf_df = pd.DataFrame(transformed_model.toarray())

In [91]:
tfidf_df.shape

(120, 4694)

In [104]:
y = tfidf_df.iloc[0, :]

In [106]:
len(tfidf_df.index)

120

In [108]:
from scipy import spatial

In [114]:
distances = []
for i in range(len(tfidf_df.index)):
    distances.append(spatial.distance.cosine(y, tfidf_df.iloc[i,:]))

In [124]:
indices = np.argsort(distances)

In [125]:
indices

array([  0,  14,  98, 113, 103,  89,  25, 116,  20,  76,  13,  11, 112,
        62,  64,  65,  43,   9,  88,  60,  97,  82,  10, 107,  36,  18,
       108,  40, 117,  21,  27,  54,  46,  17,  32,  96,  85, 106,  47,
        53,  50,  33,  26,  37,   4,  87,  72,  81,  59,   1,  86,  51,
        41, 104,  94,  24,  45,  12,  52, 118,  77,  90,  42, 101,  83,
       105,  79, 100,  57,  95,  34,  92, 111,  93,   5,  19,   6, 102,
         2,  49,  61,  75,  63,  69, 109,  39,  80,  74,  84,  71, 115,
       114,  23,  78,  15,   7,  31,  68,   3,  73,  55,  44,  67,  48,
        99, 119,  58,  35,  70,  66,  38,   8, 110,  30,  91,  28,  22,
        56,  29,  16])

In [162]:
sorted_distances = np.sort(distances)

In [319]:
sorted_distances

array([0.        , 0.80989248, 0.84734903, 0.8862868 , 0.89611812,
       0.89793871, 0.9008809 , 0.90178122, 0.90493865, 0.90655569,
       0.90761834, 0.91067788, 0.91128463, 0.91205141, 0.91908636,
       0.91909473, 0.9191591 , 0.92042956, 0.92065424, 0.92113992,
       0.92121793, 0.92231139, 0.92287179, 0.92354406, 0.92400288,
       0.92733007, 0.92739521, 0.92775441, 0.92782718, 0.92799351,
       0.92965427, 0.93021093, 0.9303712 , 0.93046182, 0.93120322,
       0.93305513, 0.93311973, 0.93375587, 0.93381259, 0.93384384,
       0.93401396, 0.93422951, 0.93425764, 0.93440461, 0.93442192,
       0.93448378, 0.93461325, 0.93468624, 0.93500178, 0.93509595,
       0.93515891, 0.93573583, 0.93582138, 0.93592947, 0.93608376,
       0.93645875, 0.93693853, 0.93708662, 0.93709875, 0.93714463,
       0.93829452, 0.93873704, 0.9399703 , 0.94024111, 0.94083554,
       0.94114805, 0.94122072, 0.94151301, 0.94153812, 0.94195045,
       0.94238216, 0.94269655, 0.94324229, 0.94334655, 0.94380484,
       0.943866  , 0.94406054, 0.94429685, 0.94431841, 0.9443673 ,
       0.94445364, 0.94546576, 0.94573941, 0.94600273, 0.94679304,
       0.94837131, 0.94850738, 0.95053077, 0.9505701 , 0.95069553,
       0.9507686 , 0.95089409, 0.95212163, 0.95277849, 0.95278891,
       0.95383214, 0.95431964, 0.95465422, 0.95621577, 0.95725877,
       0.95729054, 0.9581826 , 0.95849498, 0.96057261, 0.96127203,
       0.96230686, 0.96328586, 0.96719058, 0.96881451, 0.96881451,
       0.96979715, 0.97139573, 0.97441592, 0.97623549, 0.97691926,
       0.97813865, 0.97910515, 0.9793223 , 0.97938683, 0.98122666])

In [207]:
# full_df.iloc[14].split('\n')

In [208]:
# full_df.iloc[98].split('\n')

In [197]:
sorted_df = pd.DataFrame({'jobs': full_df.iloc[indices]}).set_index(np.arange(0,120))

In [198]:
sorted_df.head()

                                                jobs
0  Data Scientist Greater Seattle Area Data Scien...
1  Are you interested in working for one of the m...
2  The Microsoft Cloud+AI Design team is looking ...
3  Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...
4  Overall Job Purpose:\n\nThis role will be loca...

In [199]:
sorted_df.shape

(120, 1)

In [200]:
sorted_df['labels'] = np.zeros(120)

In [201]:
sorted_df.iat[1,1] = 1.0

In [356]:
sorted_df.iat[3,1] = -1.0

In [357]:
sorted_df.head(6)

                                                jobs  labels
0  Data Scientist Greater Seattle Area Data Scien...     0.0
1  Are you interested in working for one of the m...     1.0
2  The Microsoft Cloud+AI Design team is looking ...     0.0
3  Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...    -1.0
4  Overall Job Purpose:\n\nThis role will be loca...     0.0
5  Lead Data Scientist\nIf you are a Lead Data Sc...     0.0

In [203]:
sorted_df.shape

(120, 2)

In [213]:
sorted_tfidf = pd.DataFrame(tfidf_df.iloc[indices]).set_index(np.arange(0,120))

In [218]:
sorted_tfidf.shape

(120, 4694)

In [215]:
total_df = pd.concat([sorted_df, sorted_tfidf], axis=1)

In [219]:
total_df.head()

,jobs,labels,0,1,2,3,4,5,6,7,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
0,Data Scientist Greater Seattle Area Data Scien...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.117186,0.0,0.0,0.0
1,Are you interested in working for one of the m...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,The Microsoft Cloud+AI Design team is looking ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [220]:
full_X = total_df.iloc[1:,:]

In [221]:
full_y = total_df.iloc[0,:]

In [291]:
#temp_df = full_X.drop?

In [300]:
temp_df = full_X.drop(index=[1])

In [301]:
temp_df.head()

,jobs,labels,0,1,2,3,4,5,6,7,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
2,The Microsoft Cloud+AI Design team is looking ...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Blue Nile was created in 1999 by a man in love...,0.0,0.037139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [302]:
temp_df.shape[0]

118

In [266]:
#full_X.iloc[0,2:]

In [303]:
# labeled_array = full_X.iloc[0,2:]

# row = tfidf_df.iloc[1,:]

# row.shape

# spatial.distance.cosine(labeled_array, row)

In [383]:
yes_temp_tfidf = tfidf_df.drop(index=[0,1])

In [393]:
yes_temp_tfidf.shape

(118, 4694)

In [384]:
distance_from_yes = []
for i in range(temp_df.shape[0]):
    distance_from_yes.append(spatial.distance.cosine(full_X.iloc[0,2:],
                                                 yes_temp_tfidf.iloc[i,:]))

In [385]:
len(distance_from_yes)

118

In [386]:
yes_df = pd.DataFrame([indices[2:], distance_from_yes, sorted_distances[2:]]).T

In [387]:
yes_df['summed_distances'] = yes_df.iloc[:,1] + yes_df.iloc[:,2]

In [388]:
yes_df.iloc[:,0] = yes_df.iloc[:,0].astype('int')

In [389]:
yes_df

       0             1         2  summed_distances
0     98  8.440106e-01  0.847349          1.691360
1    113  8.710644e-01  0.886287          1.757351
2    103  8.920524e-01  0.896118          1.788170
3     89  8.406554e-01  0.897939          1.738594
4     25  9.026731e-01  0.900881          1.803554
5    116  9.059197e-01  0.901781          1.807701
6     20  9.273303e-01  0.904939          1.832269
7     76  7.746030e-01  0.906556          1.681159
8     13  8.294036e-01  0.907618          1.737022
9     11  8.474044e-01  0.910678          1.758082
10   112  8.714053e-01  0.911285          1.782690
11    62  8.541495e-01  0.912051          1.766201
12    64 -4.440892e-16  0.919086          0.919086
13    65  9.057357e-01  0.919095          1.824830
14    43  9.293929e-01  0.919159          1.848552
15     9  8.884484e-01  0.920430          1.808878
16    88  8.133478e-01  0.920654          1.734002
17    60  9.058687e-01  0.921140          1.827009
18    97  8.465068e-01  0.921218          1.767725
19    82  8.790584e-01  0.922311          1.801370
20    10  9.241393e-01  0.922872          1.847011
21   107  8.912429e-01  0.923544          1.814787
22    36  8.908173e-01  0.924003          1.814820
23    18  8.848817e-01  0.927330          1.812212
24   108  8.469210e-01  0.927395          1.774316
25    40  8.577549e-01  0.927754          1.785509
26   117  9.334164e-01  0.927827          1.861244
27    21  9.439184e-01  0.927994          1.871912
28    27  9.294970e-01  0.929654          1.859151
29    54  9.248653e-01  0.930211          1.855076
..   ...           ...       ...               ...
88   115  8.513624e-01  0.950769          1.802131
89   114  9.054657e-01  0.950894          1.856360
90    23  8.337518e-01  0.952122          1.785873
91    78  8.525216e-01  0.952778          1.805300
92    15  8.408595e-01  0.952789          1.793648
93     7  8.194471e-01  0.953832          1.773279
94    31  8.296625e-01  0.954320          1.783982
95    68  8.734145e-01  0.954654          1.828069
96     3  5.935057e-01  0.956216          1.549721
97    73  8.730520e-01  0.957259          1.830311
98    55  8.812764e-01  0.957291          1.838567
99    44  8.633175e-01  0.958183          1.821500
100   67  8.930656e-01  0.958495          1.851561
101   48  7.965187e-01  0.960573          1.757091
102   99  8.616803e-01  0.961272          1.822952
103  119  8.573426e-01  0.962307          1.819650
104   58  8.247329e-01  0.963286          1.788019
105   35  8.712068e-01  0.967191          1.838397
106   70  8.632719e-01  0.968815          1.832086
107   66  8.985107e-01  0.968815          1.867325
108   38  9.180684e-01  0.969797          1.887866
109    8  8.977950e-01  0.971396          1.869191
110  110  8.848629e-01  0.974416          1.859279
111   30  8.489137e-01  0.976235          1.825149
112   91  8.835761e-01  0.976919          1.860495
113   28  8.749613e-01  0.978139          1.853100
114   22  8.882476e-01  0.979105          1.867353
115   56  8.215730e-01  0.979322          1.800895
116   29  8.794890e-01  0.979387          1.858876
117   16  8.775597e-01  0.981227          1.858786

[118 rows x 4 columns]

In [390]:
yes_df.iloc[yes_df.summed_distances.idxmin(),0]

64

In [391]:
yes_df.summed_distances.idxmin()

12

In [392]:
full_df.iloc[64].split('\n')

['Stackline is a retail intelligence and software company based in Seattle, WA that was founded by a group of Amazon veterans. Our technology activates data, automates execution, and optimizes e-commerce marketing performance for hundreds of the world’s largest companies.',
 '',
 'Data Scientist (Applied Math)',
 '',
 'Join our team as an Applied Scientist and you will help leading consumer brands use data and technology to discover insights, improve decision-making and transform their businesses.',
 '',
 'Basic Qualifications',
 'Bachelors or Master’s Degree in Engineering, Mathematics, Statistics, Computer Science',
 'Strong knowledge of one relevant/appropriate programming languages like R, Python or C#.',
 'Strong knowledge of SQL.',
 '2 to 3 years of related work experience (data science, bi, data analytics, or data engineering).',
 'Mastery of statistics and probability I.E.r application in systems analysis and operations research.',
 'Strong problem solving, data analysis and communication skills.',
 'Preferred Qualifications',
 'Experience handling large data sets using SQL in a business environment.',
 'Strong knowledge of one relevant/appropriate programming languages like R, Python and C#.',
 'Experience on processing data on relational databases like Oracle/SQL Server/ Redshift/Tera data.',
 'Experience working in a fast-paced, high tech environment.',
 'Experience in e-commerce or a related field.',
 'Demonstrated experience designing and building new ideas, working closely with technical teams from concept generation through implementation.',
 'Why Stackline',
 'Work in a high growth industry in a role that allows you to make an immediate impact',
 'Client facing application, our customers are some of the biggest brands in the world.',
 'Extremely competitive salaries',
 '100% of Employee Premiums covered for Medical, Dental, Vision',
 '100% employee owned company; bootstrapped, cash positive startup.',
 'Catered lunches',
 'Fun downtown location']

In [427]:
undecided_df = yes_df.drop(index=[1])

In [434]:
undecided_df['distance_from_no'] = distance_from_firstNo

In [435]:
undecided_df.head()

     0         1         2  summed_distances  distance_from_no
0   98  0.844011  0.847349          1.691360          0.796444
2  103  0.892052  0.896118          1.788170          0.859028
3   89  0.840655  0.897939          1.738594          0.852439
4   25  0.902673  0.900881          1.803554          0.841059
5  116  0.905920  0.901781          1.807701          0.876078

In [436]:
undecided_df['total_distance'] = undecided_df.summed_distances - undecided_df.distance_from_no

In [437]:
undecided_df.head()

     0         1         2  summed_distances  distance_from_no  total_distance
0   98  0.844011  0.847349          1.691360          0.796444        0.894915
2  103  0.892052  0.896118          1.788170          0.859028        0.929143
3   89  0.840655  0.897939          1.738594          0.852439        0.886155
4   25  0.902673  0.900881          1.803554          0.841059        0.962495
5  116  0.905920  0.901781          1.807701          0.876078        0.931623

In [438]:
undecided_df.iloc[undecided_df.total_distance.idxmin(),0]

65

In [443]:
full_df.iloc[65].split('\n')

['The Data Scientist is a key member of our Pharmacy Automation Software Analytics team and will lead development of intelligent solutions for new analytics product offerings, as well as guide the establishment of our next generation data ingestion, transformation, and analysis capabilities, transforming our current practices to take advantage of these capabilities.',
 '',
 'Your Responsibilities',
 'Identify important and interesting questions and challenges related to product capabilities and business operations and translate those questions into concrete analytical tasks and data systems',
 'Recommend strategies for design and implementation of scalable, intelligent systems, setting customer or team expectations regarding project timelines and algorithm development',
 'Provide thought-leadership in the area of analytics/data science for analytics product and future applications',
 'Develop and support external and internal data analysis and visualization/dashboarding in Tableau',
 'Develop the mapping, extraction, and unification (ETL) pipeline of data from numerous structured and unstructured healthcare sources into AWS for visualization and mining in novel applications',
 'Design and implement complex queries utilizing SQL Commands, Views, Stored Procedures',
 'Work closely with product management to plan and codify product capabilities and requirements',
 'Assist with critical analysis of test results and deliver solutions to problem areas',
 'Identify and research data structures and challenges with minimum documentation',
 'Analyze process challenges and make suggestions for the prevention of future problems',
 'Perform other duties, as assigned.',
 'Your Profile',
 'Proven ability to assess business problems and create, investigate, and deploy new statistical and machine learning-based approaches to improve business outcomes, defining the necessary pipelines, creating required analytical datasets, and developing clear, well-documented solutions',
 'Expertise in statistical tools like Python/R with knowledge of scientific/analytics libraries (pandas, scikit-learn, numpy, scipy, TensorFlow, Spark)',
 'Experience visually exploring data and creating production ready dashboards in Tableau',
 'Experience working with SQL (MSSQL, PostGreSQL, data warehousing concepts) and ability to write complex SQL queries',
 'Migration and ETL experience with moving on-premise data in/out of AWS cloud services including S3, RDS, and Redshift',
 'Excellent interpersonal and communications skills (both verbally and written), can effectively convey logical rationale for decisions and explain the results and implications of experiments',
 'Advanced Degree in related quantitative fields or clear demonstration of 2-5 years of relevant experience',
 'Desirable but not essential:',
 'Experience with inventory and supply chain management is a major plus',
 'Experience in the Healthcare industry a plus',
 'Experience developing intelligent, prescriptive analytics applications',
 'Experience in C#, Java, and JavaScript',
 'We Offer',
 'Swisslog offers challenging work in a globally networked environment as well as competitive base salary, comprehensive benefits including health/dental and above-market 401K!',
 '',
 'OUR SOLUTIONS DELIVER RESULTS. OUR EMPLOYEES DELIVER SOLUTIONS.',
 '',
 'Swisslog is an EEO Employer, Females/Minority/Veterans/Disabled/Sexual Orientation/Gender Identity',
 '',
 'Swisslog’s FMLA policy can be found at: http://www.dol.gov/whd/regs/compliance/posters/fmlaen.pdf',
 '',
 'Federal law requires employers to provide reasonable accommodation to qualified individuals with disabilities. If you require reasonable accommodation to complete the application or to perform your job, please contact Human Resources at jobs.healthcare.us@swisslog.com',
 'Contact',
 'Andy Levine',
 'Talent Acquisition Manager']

In [431]:
distance_from_firstNo = []
for i in range(undecided_df.shape[0]):
    distance_from_firstNo.append(spatial.distance.cosine(full_X.iloc[2,2:],
                                                 no_temp_tfidf.iloc[i,:]))

In [433]:
len(distance_from_firstNo)

117

In [429]:
no_temp_df = full_X.drop(index=[1,3])

In [430]:
no_temp_df.head()

,jobs,labels,0,1,2,3,4,5,6,7,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
2,The Microsoft Cloud+AI Design team is looking ...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Blue Nile was created in 1999 by a man in love...,0.0,0.037139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Back to search results\n\nSearch by Job Title ...,0.0,0.016726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [360]:
no_temp_df.shape

(118, 4696)

In [364]:
# full_X.iloc[2,:]

In [367]:
tfidf_df.shape

(120, 4694)

In [394]:
no_temp_tfidf = tfidf_df.drop(index=[0,2])

In [395]:
no_temp_tfidf.shape

(118, 4694)

In [397]:
no_temp_tfidf.iloc[1,80]

0.09943944731137913

In [396]:
tfidf_df.iloc[3, 80]

0.09943944731137913

In [399]:
distance_from_no = []
for i in range(no_temp_df.shape[0]):
    distance_from_no.append(spatial.distance.cosine(full_X.iloc[2,2:],
                                                 no_temp_tfidf.iloc[i,:]))

In [414]:
np.array(distance_from_no).shape

(118,)

In [403]:
no_indices = np.delete(indices, [0,3])

In [413]:
no_indices.shape

(118,)

In [406]:
no_sorted_distances = np.delete(sorted_distances, [0,3])

In [412]:
no_sorted_distances.shape

(118,)

In [419]:
no_df = pd.DataFrame([no_indices, distance_from_no, no_sorted_distances]).T

In [420]:
no_df.head()

       0         1         2
0   14.0  0.796444  0.809892
1   98.0  0.859028  0.847349
2  103.0  0.852439  0.896118
3   89.0  0.841059  0.897939
4   25.0  0.876078  0.900881

In [421]:
no_df['difference_distances'] = no_df.iloc[:,2] - no_df.iloc[:,1]

In [422]:
no_df.head()

       0         1         2  difference_distances
0   14.0  0.796444  0.809892              0.013448
1   98.0  0.859028  0.847349             -0.011679
2  103.0  0.852439  0.896118              0.043679
3   89.0  0.841059  0.897939              0.056880
4   25.0  0.876078  0.900881              0.024803

In [423]:
no_df.iloc[:,0] = no_df.iloc[:,0].astype('int')

In [424]:
no_df.head()

     0         1         2  difference_distances
0   14  0.796444  0.809892              0.013448
1   98  0.859028  0.847349             -0.011679
2  103  0.852439  0.896118              0.043679
3   89  0.841059  0.897939              0.056880
4   25  0.876078  0.900881              0.024803

In [425]:
no_df.iloc[no_df.difference_distances.idxmax(),0]

30

In [426]:
full_df.iloc[30].split('\n')

['Senior Scientist, Medicinal Chemistry',
 'Omeros is seeking a Senior Scientist to join our Medicinal Chemistry team. In this role, you’ll be supporting the research project team with medicinal chemistry for drug discovery products, including performing synthetic organic chemistry and molecular chemistry, and aiding in the design of organic molecules to be used in drug discovery.',
 'Good things are happening at Omeros!',
 'Come join our Medicinal Chemistry Team!',
 '',
 'Who is Omeros?',
 'Omeros is a commercial-stage biopharmaceutical company committed to discovering, developing and commercializing small-molecule and protein therapeutics for large-market as well as orphan indications targeting inflammation, complement-mediated diseases and disorders of the central nervous system.',
 '',
 'The company’s drug product OMIDRIA® (phenylephrine and ketorolac injection) 1% / 0.3% is marketed in the U.S. for use during cataract surgery or intraocular lens (IOL) replacement to maintain pupil size by preventing intraoperative miosis (pupil constriction) and to reduce postoperative ocular pain. In the European Union, the European Commission has approved OMIDRIA for use in cataract surgery and other IOL replacement procedures to maintain mydriasis (pupil dilation), prevent miosis (pupil constriction), and to reduce postoperative eye pain.',
 '',
 'Omeros has multiple Phase 3 and Phase 2 clinical-stage development programs focused on: complement-associated thrombotic microangiopathies; complement-mediated glomerulonephropathies; Huntington’s disease and cognitive impairment; and addictive and compulsive disorders. In addition, Omeros has a diverse group of preclinical programs and a proprietary G protein-coupled receptor (GPCR) platform through which it controls 54 new GPCR drug targets and corresponding compounds, a number of which are in preclinical development. The company also exclusively possesses a novel antibody-generating platform.',
 'What are your job responsibilities?',
 'Designing and synthesizing potential drug candidate molecules',
 'Conducting complex air- and moisture-sensitive organic reactions',
 'Analytically characterizing organic compounds using routine methods (NMR, HPLC/MS, etc.)',
 'Understanding and applying DMPK and biological principals toward the design of small molecules; discusses and maintains structure activity relationships of compounds',
 'Analyzing, preparing and presenting data',
 'Effectively using the chemical literature',
 'Using chemistry related software',
 'Ensuring safety standards are maintained',
 'Managing and archiving data',
 'Presenting scientific results effectively in both a technical and informational fashion',
 'Maintaining a safe work environment',
 'Attending project meetings',
 'May supervise or manage Research Associates',
 'What experience and education do you need?',
 'You’ll need to have a Ph.D. in Organic Chemistry with a minimum 5+ years of industry experience. Other experience we are seeking includes:',
 'Industry experience in organic synthesis and proven ability to design and synthesize novel compounds through multi-step synthetic routes is required',
 'Experience with purification methods and characterization of compounds such as NMR and LCMS is required',
 'CNS experience is a plus',
 'What skills and knowledge does our ideal candidate have?',
 'As our ideal candidate, you’ll need the following skills and knowledge:',
 'Demonstrated proficiency in using MS Office applications',
 'The ability to work effectively under pressure, handling multiple priorities simultaneously, is essential',
 'Excellent written and verbal communication skills',
 'Excellent interpersonal skills',
 'Time management skills',
 'Team oriented and highly motivated demeanor',
 'The ability to build and maintain positive relationships with management, peers and subordinates is essential',
 'Strong analytical and problem-solving skills, attention to detail',
 'If you have the skills, knowledge and experience we are looking for, we’d love to hear from you!',
 'Omeros is an Equal Opportunity Employer. All qualified applicants will receive consideration for employment without regard to status as a protected veteran or a qualified individual with a disability, or other protected status such as race, religion, color, national origin, sex, age, marital status, or any other factor determined to be unlawful by federal, state, or local statutes.',
 'It is our policy to provide reasonable accommodation to anyone with a disability who needs assistance completing the job application process. If you need assistance, you can either send an e-mail to hr@omeros.com or contact Omeros, asking for Human Resources, at (206) 676-5000.']

In [294]:
yes_distances = []
for i in range(full_X.shape[0]):
    temp_df = full_X.drop(index=[i+1])
    for j in range(temp_df.shape[0]):
        yes_distances.append(spatial.distance.cosine(full_X.iloc[i,2:],
                                                     tfidf_df.iloc[j,:]))

In [61]:
vocab = pd.read_csv('../data/vocabulary.csv', index_col=0)

In [63]:
culled_vectorizer = TfidfVectorizer(stop_words='english', vocabulary=vocab['words'])

In [64]:
culled_vectorizer.fit(df['jobs'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=0       efficiency
1              web
2           groups
3          quality
4       regression
5           Proven
6              inc
7            small
8      improvement
9         language
10      matplotlib
11               ’
12          united
13       knowledge
14           scipy
15  ...tle
97        selenium
98    econometrics
99      experience
Name: words, Length: 100, dtype: object)

In [65]:
culled_transformed = culled_vectorizer.transform(df['jobs'])

In [66]:
culled_df = pd.DataFrame(culled_transformed.toarray())

In [70]:
np.argsort(culled_df.sum(axis=1))[::-1]

118     20
117    110
116     10
115     67
114     92
113     91
112     80
111     19
110     72
109     53
108     64
107    107
106     79
105     26
104      5
103     81
102     47
101      2
100     30
99      14
98       6
97       4
96       0
95      76
94      42
93      52
92      74
91      89
90      54
89     116
      ...
29      87
28      95
27      21
26      65
25      69
24      27
23      24
22      56
21      43
20      61
19      35
18      36
17      75
16     106
15      50
14      22
13      97
12      66
11      28
10      45
9       41
8       13
7       62
6       55
5       83
4      114
3       51
2       77
1      109
0       37
Length: 119, dtype: int64

In [121]:
df.iloc[20][0].split('\n')

['About Cadeo',
 '',
 'Cadeo works at the intersection of policy, markets, and technology. We support utilities, public agencies, and private industry in their efforts to advance energy efficiency and create a cleaner, more sustainable future. To this end, we characterize markets, analyze distribution channels, assess emerging technologies, and analyze policy impacts. Through these services, we provide our clients with actionable recommendations and the ongoing guidance to implement them. Our approach is simple. We listen first, ask next, and answer last.',
 '',
 'Our Culture',
 '',
 'Each of us at Cadeo helps shape the culture we want to share. Our work is our craftsomething we want to get better at every day. So we take it seriously. To us, that doesnt mean formality; it means a commitment to continual development, both individually and collectively; it means having the desire to know what works better and the humility to recognize something probably does.',
 '',
 'As we continue to grow, our culture will no doubt evolve, but the following core principles will not:',
 'We start with the premise that we dont know. That way, we listen better.',
 'We value candor, curiosity, and clarity.',
 'We seek feedback. Really.',
 'We share knowledge. Relentlessly.',
 'We guard against the creep of bureaucracy.',
 'And, oh yeah, if you want a standing desk, we dont ask for a doctors note.',
 '',
 'Who Were Looking For:',
 '',
 'This position may be located in Cadeos Portland, OR, Seattle, WA, or Washington, DC office.',
 'Were looking for an experienced consultant who balances strong technical, project management, and communication skills and who can work both independently and collaboratively. The ideal candidate is a problem solver who is comfortable engaging subject matter experts to ask the right questions, and who is skilled at compiling information into a logical framework. Experience working in the utility/energy industry with a background in data science is critical. This position will support our market research and evaluation projects for utilities and government agencies by developing creative, data-driven solutions to complex analytical problems.',
 'Duties for this position include:',
 'Acquiring, combining, and analyzing data from a wide variety of sources (public databases, client management information systems, 3rd party vendors, web-scraping)',
 'Developing mathematical models that help our clients quantify energy consumption, energy savings, and/or customer behaviors',
 'Communicating analytical activities and findings as part of a compelling narrative that relates to key research questions.',
 'Working independently with minimal supervision',
 'Mentoring junior staff and managing project tasks, as needed',
 '',
 'The following qualifications are required:',
 'At least 3 years of progressive experience in the utility industry or consulting',
 'Demonstrable experience in supporting research activities with data and analysis',
 'Strong verbal and written communication skills',
 'Strong aptitude for learning new technologies and analytics techniques',
 'At least 3 years of database and data manipulation experience. Relevant platforms include SQL, HiveQL, SAS, Python, and R',
 'Masters degree in economics, math, statistics, or equivalent',
 'The following qualifications are also preferred:',
 'Experience with visualization tools such as Tableau and Power BI.',
 'Experience with GIS tools such as ArcGIS.',
 'Knowledge of cloud platform architecture and administration, i.e. AWS, Azure.',
 'Personnel and project management experience.',
 'All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity or national origin.',
 '',
 'In compliance with federal law, all persons hired will be required to verify identity and eligibility to work in the United States and to complete the required employment eligibility verification form upon hire.',
 '',
 'Please DO NOT contact our consultants or team members directly regarding the position. Review the job application and submit your résumé and cover letter in PDF format only via the Cadeo website career page']