In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
df = pd.read_csv('../data/dsjobs_training_culled.csv', index_col=0)

In [20]:
df = df.dropna()

In [21]:
df.shape

(119, 1)

In [49]:
profile_vector = pd.read_csv('../data/profile_vector.csv', index_col=0)

In [50]:
profile_vector.head()

                                             profile
0  Data Scientist Greater Seattle Area Data Scien...

In [52]:
profile_vector.shape

(1, 1)

In [83]:
full_df = profile_vector['profile'].append(df['jobs'])

In [85]:
full_df.shape

(120,)

In [97]:
full_df.iloc[0]

'Data Scientist Greater Seattle Area Data Scientist with an economics background from Colorado with experience in machine learning, data analysis, and regression analysis. Proven leader of small groups focused on efficiency and continuous improvement. student galvanize inc sep 2018 – present 3 mos greater seattle area logwork master blue ridge log works aug 2016 – aug 2018 2 yrs 1 mo united states • built custom log furniture for a high-end reclaimed wood furniture company. • managed people within my department in order to achieve efficiency without sacrificing quality. • continuously improved processes to increase productivity. • acquired new skills and techniques in order to increase the quality of the company’s econometrics regression analysis microsoft office industry knowledge data analysis tools & technologies microsoft powerpoint microsoft excel python (programming language) pandas (software) sql postgresql mongodb amazon web services (aws) selenium public speaking numpy scikit-learn scipy matplotlib apache spark flask '

In [87]:
vectorizer = TfidfVectorizer(stop_words='english')

In [88]:
vectorizer.fit(full_df)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [89]:
transformed_model = vectorizer.transform(full_df)

In [90]:
tfidf_df = pd.DataFrame(transformed_model.toarray())

In [91]:
tfidf_df.shape

(120, 4694)

In [104]:
y = tfidf_df.iloc[0, :]

In [106]:
len(tfidf_df.index)

120

In [108]:
from scipy import spatial

In [114]:
distances = []
for i in range(len(tfidf_df.index)):
    distances.append(spatial.distance.cosine(y, tfidf_df.iloc[i,:]))

In [124]:
indices = np.argsort(distances)

In [125]:
indices

array([  0,  14,  98, 113, 103,  89,  25, 116,  20,  76,  13,  11, 112,
        62,  64,  65,  43,   9,  88,  60,  97,  82,  10, 107,  36,  18,
       108,  40, 117,  21,  27,  54,  46,  17,  32,  96,  85, 106,  47,
        53,  50,  33,  26,  37,   4,  87,  72,  81,  59,   1,  86,  51,
        41, 104,  94,  24,  45,  12,  52, 118,  77,  90,  42, 101,  83,
       105,  79, 100,  57,  95,  34,  92, 111,  93,   5,  19,   6, 102,
         2,  49,  61,  75,  63,  69, 109,  39,  80,  74,  84,  71, 115,
       114,  23,  78,  15,   7,  31,  68,   3,  73,  55,  44,  67,  48,
        99, 119,  58,  35,  70,  66,  38,   8, 110,  30,  91,  28,  22,
        56,  29,  16])

In [162]:
sorted_distances = np.sort(distances)

In [164]:
# sorted_distances

In [207]:
# full_df.iloc[14].split('\n')

In [208]:
# full_df.iloc[98].split('\n')

In [197]:
sorted_df = pd.DataFrame({'jobs': full_df.iloc[indices]}).set_index(np.arange(0,120))

In [198]:
sorted_df.head()

                                                jobs
0  Data Scientist Greater Seattle Area Data Scien...
1  Are you interested in working for one of the m...
2  The Microsoft Cloud+AI Design team is looking ...
3  Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...
4  Overall Job Purpose:\n\nThis role will be loca...

In [199]:
sorted_df.shape

(120, 1)

In [200]:
sorted_df['labels'] = np.zeros(120)

In [201]:
sorted_df.iat[1,1] = 1.0

In [202]:
sorted_df.head(6)

                                                jobs  labels
0  Data Scientist Greater Seattle Area Data Scien...     0.0
1  Are you interested in working for one of the m...     1.0
2  The Microsoft Cloud+AI Design team is looking ...     0.0
3  Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...     0.0
4  Overall Job Purpose:\n\nThis role will be loca...     0.0
5  Lead Data Scientist\nIf you are a Lead Data Sc...     0.0

In [203]:
sorted_df.shape

(120, 2)

In [213]:
sorted_tfidf = pd.DataFrame(tfidf_df.iloc[indices]).set_index(np.arange(0,120))

In [218]:
sorted_tfidf.shape

(120, 4694)

In [215]:
total_df = pd.concat([sorted_df, sorted_tfidf], axis=1)

In [219]:
total_df.head()

,jobs,labels,0,1,2,3,4,5,6,7,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
0,Data Scientist Greater Seattle Area Data Scien...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.117186,0.0,0.0,0.0
1,Are you interested in working for one of the m...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,The Microsoft Cloud+AI Design team is looking ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [220]:
full_X = total_df.iloc[1:,:]

In [221]:
full_y = total_df.iloc[0,:]

In [226]:
temp_df = full_X.drop(index=[1])

In [227]:
temp_df.head()

,jobs,labels,0,1,2,3,4,5,6,7,...,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693
2,The Microsoft Cloud+AI Design team is looking ...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Lead Data Scientist\n\nSeattle, WA\n\nJob Desc...",0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Overall Job Purpose:\n\nThis role will be loca...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Lead Data Scientist\nIf you are a Lead Data Sc...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Blue Nile was created in 1999 by a man in love...,0.0,0.037139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [230]:
temp_df.shape[0]

118

In [ ]:
full_

In [ ]:
yes_distances = []
for i in range(temp_df.shape[0]):
    yes_distances.append(spatial.distance.cosine(full_X.iloc[0,:], tfidf_df.iloc[i,:]))

In [61]:
vocab = pd.read_csv('../data/vocabulary.csv', index_col=0)

In [63]:
culled_vectorizer = TfidfVectorizer(stop_words='english', vocabulary=vocab['words'])

In [64]:
culled_vectorizer.fit(df['jobs'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=0       efficiency
1              web
2           groups
3          quality
4       regression
5           Proven
6              inc
7            small
8      improvement
9         language
10      matplotlib
11               ’
12          united
13       knowledge
14           scipy
15  ...tle
97        selenium
98    econometrics
99      experience
Name: words, Length: 100, dtype: object)

In [65]:
culled_transformed = culled_vectorizer.transform(df['jobs'])

In [66]:
culled_df = pd.DataFrame(culled_transformed.toarray())

In [70]:
np.argsort(culled_df.sum(axis=1))[::-1]

118     20
117    110
116     10
115     67
114     92
113     91
112     80
111     19
110     72
109     53
108     64
107    107
106     79
105     26
104      5
103     81
102     47
101      2
100     30
99      14
98       6
97       4
96       0
95      76
94      42
93      52
92      74
91      89
90      54
89     116
      ...
29      87
28      95
27      21
26      65
25      69
24      27
23      24
22      56
21      43
20      61
19      35
18      36
17      75
16     106
15      50
14      22
13      97
12      66
11      28
10      45
9       41
8       13
7       62
6       55
5       83
4      114
3       51
2       77
1      109
0       37
Length: 119, dtype: int64

In [121]:
df.iloc[20][0].split('\n')

['About Cadeo',
 '',
 'Cadeo works at the intersection of policy, markets, and technology. We support utilities, public agencies, and private industry in their efforts to advance energy efficiency and create a cleaner, more sustainable future. To this end, we characterize markets, analyze distribution channels, assess emerging technologies, and analyze policy impacts. Through these services, we provide our clients with actionable recommendations and the ongoing guidance to implement them. Our approach is simple. We listen first, ask next, and answer last.',
 '',
 'Our Culture',
 '',
 'Each of us at Cadeo helps shape the culture we want to share. Our work is our craftsomething we want to get better at every day. So we take it seriously. To us, that doesnt mean formality; it means a commitment to continual development, both individually and collectively; it means having the desire to know what works better and the humility to recognize something probably does.',
 '',
 'As we continue to grow, our culture will no doubt evolve, but the following core principles will not:',
 'We start with the premise that we dont know. That way, we listen better.',
 'We value candor, curiosity, and clarity.',
 'We seek feedback. Really.',
 'We share knowledge. Relentlessly.',
 'We guard against the creep of bureaucracy.',
 'And, oh yeah, if you want a standing desk, we dont ask for a doctors note.',
 '',
 'Who Were Looking For:',
 '',
 'This position may be located in Cadeos Portland, OR, Seattle, WA, or Washington, DC office.',
 'Were looking for an experienced consultant who balances strong technical, project management, and communication skills and who can work both independently and collaboratively. The ideal candidate is a problem solver who is comfortable engaging subject matter experts to ask the right questions, and who is skilled at compiling information into a logical framework. Experience working in the utility/energy industry with a background in data science is critical. This position will support our market research and evaluation projects for utilities and government agencies by developing creative, data-driven solutions to complex analytical problems.',
 'Duties for this position include:',
 'Acquiring, combining, and analyzing data from a wide variety of sources (public databases, client management information systems, 3rd party vendors, web-scraping)',
 'Developing mathematical models that help our clients quantify energy consumption, energy savings, and/or customer behaviors',
 'Communicating analytical activities and findings as part of a compelling narrative that relates to key research questions.',
 'Working independently with minimal supervision',
 'Mentoring junior staff and managing project tasks, as needed',
 '',
 'The following qualifications are required:',
 'At least 3 years of progressive experience in the utility industry or consulting',
 'Demonstrable experience in supporting research activities with data and analysis',
 'Strong verbal and written communication skills',
 'Strong aptitude for learning new technologies and analytics techniques',
 'At least 3 years of database and data manipulation experience. Relevant platforms include SQL, HiveQL, SAS, Python, and R',
 'Masters degree in economics, math, statistics, or equivalent',
 'The following qualifications are also preferred:',
 'Experience with visualization tools such as Tableau and Power BI.',
 'Experience with GIS tools such as ArcGIS.',
 'Knowledge of cloud platform architecture and administration, i.e. AWS, Azure.',
 'Personnel and project management experience.',
 'All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity or national origin.',
 '',
 'In compliance with federal law, all persons hired will be required to verify identity and eligibility to work in the United States and to complete the required employment eligibility verification form upon hire.',
 '',
 'Please DO NOT contact our consultants or team members directly regarding the position. Review the job application and submit your résumé and cover letter in PDF format only via the Cadeo website career page']